* {
  box-sizing: border-box;
  margin: auto;
}

body div {
  text-align: center;
}
body div .top {
  font-family: sans-serif;
  height: 40px;
  margin-top: 20px;
  text-align: right;
  margin: 25px;
  padding: 4px;
  color: #5f5c5c;
  font-size: 14px;
  font-size: 13px;
  position: relative;
}
body div .top #left-align {
  position: absolute;
  top: -3px;
  left: 52px;
}
body div .top span {
  padding: 8px;
}
body div .top span a {
  text-decoration: none;
  color: #000000;
}
body div .top span a:hover {
  text-decoration: underline;
  color: #4e4d4d;
}
body div .top span img {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
  right: 52px;
}
body div .top span button {
  background-color: #780a99;
  border-radius: 50%;
  width: 32px;
  height: 30px;
  color: #eeeeee;
  position: absolute;
  padding: 5px;
  top: -5px;
  right: 0px;
  border: none;
  font-size: 15px;
}
body div .top span#top-pad {
  padding-right: 55px;
}
body div .logo {
  width: 350px;
  margin-top: 35px;
}
body div .logo img {
  width: 325px;
}
@media only screen and (max-width: 624px) {
  body div .logo img {
    width: 275px;
  }
}
body div .search {
  width: 600px;
  position: relative;
}
@media only screen and (max-width: 624px) {
  body div .search {
    width: 100%;
  }
}
body div .search input {
  padding: 0px 47px;
  outline: none;
  height: 47px;
  width: 550px;
  border: 1px solid #ddd8d8;
  border-radius: 30px;
}
body div .search input:hover {
  box-shadow: 0px 1px 5px #bbbbbb;
}
@media only screen and (max-width: 624px) {
  body div .search input {
    width: 92%;
  }
}
body div .search #icon {
  top: 14px;
  left: 40px;
  height: 16px;
  width: 16px;
  position: absolute;
}
body div .search #mic {
  top: 13px;
  right: 40px;
  height: 21px;
  width: 18px;
  position: absolute;
}
body div #search-btn button {
  margin: 30px 10px 0px 0px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #5f5c5c;
  font-size: 14px;
}
body div #search-btn button:hover {
  outline: 0.5px solid #c5c4c4;
  background-color: #f8f7f7;
  color: #000000;
}
body div .lang {
  margin-top: 25px;
  font-size: 13px;
  height: 40px;
  padding: 2px;
  font-family: sans-serif;
}
body div .lang a {
  padding-right: 7px;
  padding-top: 5px;
  font-size: 13px;
  color: #1038a5;
  text-decoration: none;
}
body div .lang a:hover {
  text-decoration: underline;
}
body div #footer1 {
  position: absolute;
  width: 100%;
  height: 42px;
  background-color: #f3f2f2;
  padding: 2px 30px;
  border: 0.5px solid #dddddd;
  bottom: 5%;
}
@media only screen and (max-width: 820px) {
  body div #footer1 {
    bottom: 10%;
  }
}
body div #footer1 div {
  padding-top: 10px;
  text-align: left;
  font-family: sans-serif;
  color: #5f5c5c;
  font-size: 14px;
}
body div #footer2 {
  position: absolute;
  width: 100%;
  height: 42px;
  background-color: #f3f2f2;
  padding: 2px 30px;
  border: 0.5px solid #dddddd;
  bottom: 0%;
  padding: 0px;
  padding-left: 15px;
}
@media only screen and (max-width: 820px) {
  body div #footer2 {
    bottom: 5%;
  }
}
body div #footer2 div {
  display: inline-block;
  width: 49%;
  padding: 11px 0px;
  margin: 0%;
  font-family: sans-serif;
  color: #5f5c5c;
  font-size: 14px;
}
body div #footer2 div#text-left {
  text-align: left;
}
@media only screen and (min-width: 400px) and (max-width: 820px) {
  body div #footer2 div#text-left {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 416px) {
  body div #footer2 div#text-left {
    text-align: center;
    height: 80px;
  }
}
body div #footer2 div#text-right {
  text-align: right;
}
@media only screen and (min-width: 400px) and (max-width: 820px) {
  body div #footer2 div#text-right {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 42px;
    background-color: #f3f2f2;
    padding: 2px 30px;
    border: 0.5px solid #dddddd;
    height: 36px;
    padding-top: 10px;
    margin: 2px;
    margin-left: -15px;
  }
}
@media only screen and (max-width: 416px) {
  body div #footer2 div#text-right {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 42px;
    background-color: #f3f2f2;
    padding: 2px 30px;
    border: 0.5px solid #dddddd;
    padding-top: 10px;
    height: 36px;
    margin: 2px;
    margin-left: -15px;
    margin-top: -40px;
  }
}
body div #footer2 div span {
  padding-right: 23px;
}

/*# sourceMappingURL=styles.css.map */
