$font-family: sans-serif;

@mixin font-defined() {
    color: #5f5c5c;
    font-size: 14px;
}

@mixin footer(){
    position: absolute;
    width: 100%;
    height: 42px;
    background-color: #f3f2f2;
    padding: 2px 30px;
    border: 0.5px solid #dddddd;
} 

@mixin media-query($width) {
    @media only screen and (max-width: 624px) {
        width: $width;
    }
}
@mixin text-center($include-footer) {

    @media only screen and (min-width: 400px) and (max-width: 820px) {
        display: block;
        width: 100%;
        text-align: center;
        @if $include-footer{
            @include footer();
            height: 36px;
            padding-top: 10px;
            margin: 2px{
                left: -15px;
            }
        } 
    }
    @media only screen and (max-width: 416px) {
        text-align: center;
        @if $include-footer{
            @include footer();
            padding-top: 10px;
            height: 36px;
            margin: 2px{
                left: -15px;
                top: -40px;
            }
        } 
        @else{
            height: 80px;
        }
    }      
}

@mixin bottom-margin($bottom) {
    @media only screen and (max-width: 820px) {
        bottom: $bottom;
    }
}

*{
    box-sizing: border-box;
    margin: auto;
}

body{

    div{
        text-align: center;

        .top{
            font-family: $font-family;
            height: 40px;
            margin-top: 20px;
            text-align: right;
            margin: 25px;
            padding: 4px;
            @include font-defined();
            font-size: 13px;
            position: relative;

            #left-align{
                position: absolute;
                top: -3px;
                left: 52px;
            }

            span{
                padding: 8px;
                a{
                    text-decoration: none;
                    color: #000000;
                }
                a:hover{
                    text-decoration: underline;
                    color: #4e4d4d;
                }
                img{
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    top: 0px;
                    right: 52px;
                }
                button{
                    background-color: #780a99;
                    border-radius: 50%;
                    width: 32px;
                    height: 30px;
                    color: #eeeeee;
                    position: absolute;
                    padding: 5px;
                    top: -5px;
                    right: 0px;
                    border: none;
                    font-size: 15px;
                }
                &#top-pad{
                    padding-right: 55px;
                }
            }

        }

        .logo{
            width: 350px;
            margin-top: 35px;
            
            img{
                width: 325px;

                @include media-query(275px);
            }
        }

        .search{
            width: 600px;
            position: relative;

            @include media-query(100%);

            input{
                padding: 0px 47px;
                outline: none;
                height: 47px;
                width: 550px;
                border: 1px solid #ddd8d8;
                border-radius: 30px;

                &:hover{
                    box-shadow: 0px 1px 5px #bbbbbb;
                }
                @include media-query(92%);
                
            }

            #icon{
                top: 14px;
                left: 40px;
                height: 16px;
                width: 16px;
                position: absolute;
            }
            #mic{
                top: 13px;
                right: 40px;
                height: 21px;
                width: 18px;
                position: absolute;
            }
        }

        #search-btn{
            button{
                margin: 30px 10px 0px 0px;
                padding: 10px 15px;
                outline: none;
                border: none;
                border-radius: 4px;
                @include font-defined();

                &:hover{
                    outline: 0.5px solid #c5c4c4;
                    background-color: #f8f7f7;
                    color: #000000;
                }
            }
        }

        .lang{
            margin-top: 25px;
            font-size: 13px;
            height: 40px;
            padding: 2px;
            font-family: $font-family;

            a{
                padding-right: 7px;
                padding-top: 5px;
                font-size: 13px;
                color: #1038a5;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        #footer1{
            @include footer();
            bottom: 5%;

            @include bottom-margin(10%); 

            div{
                padding-top: 10px;
                text-align: left;
                font-family: $font-family;
                @include font-defined();
            }
        }

        #footer2{
            @include footer();
            bottom: 0%;
            padding: 0px;
            padding-left: 15px;
            @include bottom-margin(5%); 

            div{
                display: inline-block;
                width: 49%;
                padding: 11px 0px;
                margin: 0%;
                font-family: $font-family;
                @include font-defined();                

                &#text-left{
                    text-align: left;
                    @include text-center(false); 
                }

                &#text-right{
                    text-align: right;
                    @include text-center(true);
                }

                span{
                    padding-right: 23px;
                }
            }
        }
    }
}

